@import "tailwindcss";
@plugin "daisyui" {
    themes: black --default, light ;
};
@plugin "daisyui/theme" {
    name: "light";
    --color-primary: #1d9bf0;
    --color-secondary: #181818;
}
@plugin "daisyui/theme" {
    name: "black";
    default: "true";
    --color-primary: #1d9bf0;
    --color-secondary: #181818;
}